*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    margin-top: 8px;
}

body{
    background-color: #beb8b8;
}

h1{
    font-size: 48px;
    font-family: 'Staatliches', serif;
    color: hotpink;
}

h3{
    font-size: 32px;
    font-family: 'Staatliches', serif;
    color: hotpink;
}

a{
    position: absolute;
    top: 100px;
    font-size: 32px;
    left: 50%;
    transform: translate(-50%);
    color: black;
}

a:hover{
    opacity: 0.7;
}


.game{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 600px;
    height: 520px;
    top: 144px;
    background: #573dc7;
    border: 2px solid black;
    padding: 8px;
}

.game table tr td{
    width: 90px;
    height: 80px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}

.reset{
    position: absolute;
    top: 525px;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
    height: 30px;
    text-align: center;
    font-family: 'Fredoka One', serif;
    padding: 4.8px;
    border: 2px solid #1b1a1a;
    background: #e0d96d;
    cursor: pointer;
    transition: .5s;
}

.reset:hover{
transition: 0.8s;
box-shadow: 0px 0px #888888;
}

@media screen and (max-width: 600px){
    .game{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 90%;
        height: 520px;
        top: 144px;
        border: 2px solid black;
        padding: 8px;
    
    }
    
}